<html></html>
<head>
    <title>Toko Kang Zen</title>
</head>
<body>
    <h1>Welcome to toko KANG zen</h1>
    <p>{{ desc1 }}</p>

    <h2>Our Services:</h2>
    <ul>
        <li>{{ desc5 }}</li>
        
    </ul>

    <h2>Why Choose Us?</h2>
    <p>{{ desc2 }}/p>

    <h3>Employees</h3>
    <p>{{ name }}</p>
    <ul>
        <li>{{ price }}</li>
        <li>{{ descreiption }}</li>
        <li>{{ rating }}</li>
    </ul>

    <h3>Contact Us:</h3>
    <p>{{ desc3 }}</p>


    <p><strong>{{desc4 }}</strong></p>
</body>
</html>