{% extends 'base.html' %}
{% block content %}
<head>
    <title>Toko Kang Zen</title>
</head>

    <h1>Welcome to toko KANG zen</h1>
    <p>{{ desc1 }}</p>

    <h2>Our Services:</h2>
    <ul>
        <li>{{ desc5 }}</li>
        
    </ul>

    <h2>Why Choose Us?</h2>
    <p>{{ desc2 }}/p>

    <h3>Employees</h3>
    <p>{{ nameser }}</p>
    <ul>
        <li>Price: Rp.{{ price }}</li>
        <li>{{ description }}</li>
        <li>Rating: {{ rating }}</li>
    </ul>

    ...
{% if not mood_entries %}
<p>There are no added product.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Time</th>
    <th>Description</th>
    <th>Price(Rupiah)</th>
  </tr>

  {% comment %} This is how to display mood data
  {% endcomment %} 
  {% for mood_entry in mood_entries %}
  <tr>
    <td>{{mood_entry.name}}</td>
    <td>{{mood_entry.time}}</td>
    <td>{{mood_entry.description}}</td>
    <td>{{mood_entry.price}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_mood_entry' %}">
  <button>Add New Product</button>
</a>

<a href="{% url 'main:logout' %}"></a>
  <button>Logout</button>
</a>
<h5>Last login session: {{ last_login }}</h5>

<style>
  /* Styling the horizontal rule (divider) */
  hr {
      height: 2px; /* Set the thickness of the divider */
      background-color: #333; /* Set the color of the divider */
      border: none; /* No border */
      margin: 10px 0; /* Add some vertical space around the divider */
  }
</style>

<hr>


    <h3>Contact Us:</h3>
    <p>{{ desc3 }}</p>


    <p><strong>{{desc4 }}</strong></p>

    <h3>Name:</h3>
    <p>{{ nameuser }}</p>
    <h3>NPM:</h3>
    <p>{{ npmuser }}</p>
    <h3>Class:</h3>
    <p>{{ classuser }}</p>

{% endblock content %}